<form class="form" [formGroup]="ticketRequestForm" (ngSubmit)="onSubmit()">
    <mat-form-field hintLabel="Max 200 characters" appearance="fill" class="form-element">
        <input #input maxlength="200" matInput placeholder="Title" formControlName="title">
        <mat-hint align="end">{{input.value?.length || 0}}/200</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-element">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-element">
        <input matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="ticketRequestForm.controls['email'].hasError('email')">Please enter a valid email address
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-element">
        <mat-label>Category</mat-label>
        <input type="text" matInput formControlName="category" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="getOptionText">
            <mat-option *ngFor="let category of categories" [value]="category">
                {{category.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field *ngIf="toggleSubcategories(ticketRequestForm.value.category?.id)" appearance="fill"
        class="form-element">
        <mat-label>Subcategory</mat-label>
        <input type="text" matInput formControlName="subcategory" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="getOptionText">
            <mat-option *ngFor="let subcategory of filtredSubcategories" [value]="subcategory">
                {{subcategory.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-element" hintLabel="Max file size is 2MB!">
        <div>
            <mat-toolbar>
                <!-- Display files names -->
                <input matInput name="fileAttr" formControlName ="uploadFile" [(ngModel)]="fileAttr" readonly>


                <!-- Browse Button -->
                <button mat-flat-button color="primary">
                    Browse File
                </button>
            </mat-toolbar>
            <!-- Fetch selected filed on change -->
            <input type="file"
                accept=".txt, .docx, .pdf,.doc,application/msword, .csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                #fileInput id="uploadFile" (change)="uploadFileEvt($event)" name="uploadFile" formControlName="fileData"/>
                <mat-error *ngIf="fileSizeError">Too big file, Please upload another one!
                </mat-error>
        </div>
    </mat-form-field>
    <mat-card-actions>
        <button [disabled]="!ticketRequestForm.valid" style="float:right;margin:5px;" mat-raised-button type="submit"
            color="primary">Submit</button>
    </mat-card-actions>
    <mat-card-actions>
        <button style="float: right;margin:5px;" mat-raised-button (click)="ticketRequestForm.reset()" color="Basic">Cancel</button>
    </mat-card-actions>
</form>