    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="tilte">
            <th mat-header-cell *matHeaderCellDef> Tilte </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="submitterEmail">
            <th mat-header-cell *matHeaderCellDef> Submitter </th>
            <td mat-cell *matCellDef="let element"> {{element.submitterEmail}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>
        Symbol Column 
        <ng-container matColumnDef="assign">
            <th mat-header-cell *matHeaderCellDef> Assign to suport-engineer </th>
            <td mat-cell *matCellDef="let element"><button mat-mini-fab color="primary">
                <mat-icon>add</mat-icon>
              </button></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>